{% extends 'navbar.html.twig' %}

{% block title %}Profile!{% endblock %}

{% block body %}
  <h1>Profile</h1>
        <p>username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
<p>Chercheur: {{ user.chercheur }}</p>

{% if app.user and (app.user == user or 'admin' in app.user.getRoles()) %}
        <form method="POST" action="{{ path('user_delete') }}">
            <input type="hidden" name="_token" value="{{ csrf_token('delete_account') }}">
            <button class="btn btn-danger">Delete Account</button>
        </form>
    {% endif %}
        <h2>Informations des projets</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Title</th>
                <th>Description</th>
                <th>StarDate</th>
                <th>EndDate</th>
               <th>Equipments</th>
           <th>Publications</th>

                <th>actions</th>

            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.username }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.startDate ? project.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ project.endDate ? project.endDate|date('Y-m-d') : '' }}</td>
  <td>
      {% for equipment in project.equipments %}
          {{ equipment.name }}<br>
      {% endfor %}
  </td>
  <td>
            {% for publication in project.publications %}
                {{ publication.title }}<br>
            {% endfor %}
        </td>
    <td>
                        <a href="{{ path('app_project_show', {'id': project.id}) }}">show</a>

                    {% if app.user %}

        {% if app.user == project.author %}
            <a href="{{ path('app_project_edit', {'id': project.id}) }}">Edit</a>
            <a href="{{ path('app_project_delete', {'id': project.id}) }}">Delete</a>

        {% elseif 'admin' in app.user.getRoles() %}
           <a href="{{ path('app_project_delete', {'id': project.id}) }}">Delete</a>

        {% endif %}
        {% endif %}

    </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2>Publications associées</h2>
<table class="table">
  <thead>
      <tr>
          <th>Title</th>
          <th>Content</th>
          <th>Author</th>
          {% if app.user %}
              <th>Actions</th>
          {% endif %}
      </tr>
  </thead>
  <tbody>
  {% for publication in publications %}
      <tr>
          <td>{{ publication.title }}</td>
          <td>{{ publication.content }}</td>
<td><a href="{{ path('user_profile', {id: publication.author.getId()}) }}">{{ publication.author.username }}</a></td>
{% if app.user %}
    <td>
        {% if app.user == publication.author %}
            <a href="{{ path('edit_publication', {id: publication.id}) }}">Edit</a>
            <a href="{{ path('delete_publication', {id: publication.id}) }}">Delete</a>
        {% elseif 'admin' in app.user.getRoles() %}
            <a href="{{ path('delete_publication', {id: publication.id}) }}">Delete</a>
        {% endif %}
    </td>
{% endif %}


      </tr>
  {% else %}
      <tr>
          <td colspan="5">No publications found</td>
      </tr>
  {% endfor %}
  </tbody>
</table>

{% include 'footer.html.twig' %}

{% endblock %}
 