{% extends 'navbar.html.twig' %}

{% block body %}
<h1>Publications</h1>
{% if app.user %}
   <a href="{{ path('new_publication') }}">New Publication</a>
{% endif %}
<table class="table">
  <thead>
      <tr>
          <th>Title</th>
          <th>Content</th>
          <th>Author</th>
          {% if app.user %}
              <th>Actions</th>
          {% endif %}
      </tr>
  </thead>
  <tbody>
  {% for publication in publications %}
      <tr>
          <td>{{ publication.title }}</td>
          <td>{{ publication.content }}</td>
<td><a href="{{ path('user_profile', {id: publication.author.getId()}) }}">{{ publication.author.username }}</a></td>
{% if app.user %}
    <td>
        {% if app.user == publication.author %}
            <a href="{{ path('edit_publication', {id: publication.id}) }}">Edit</a>
            <a href="{{ path('delete_publication', {id: publication.id}) }}">Delete</a>
        {% elseif 'admin' in app.user.getRoles() %}
            <a href="{{ path('delete_publication', {id: publication.id}) }}">Delete</a>
        {% endif %}
    </td>
{% endif %}


      </tr>
  {% else %}
      <tr>
          <td colspan="5">No publications found</td>
      </tr>
  {% endfor %}
  </tbody>
</table>


{% include 'footer.html.twig' %}

{% endblock %}