{# templates/publications/search.html.twig #}

{% extends 'navbar.html.twig' %}

{% block body %}
    <h1>Search Results for "{{ query }}"</h1>
    {% if publications is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Author</th>
                    {% if app.user %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for publication in publications %}
                    <tr>
                        <td>{{ publication.title }}</td>
                        <td>{{ publication.content }}</td>
                        <td><a href="{{ path('user_profile', {id: publication.author.getId()}) }}">{{ publication.author.username }}</a></td>
                        {% if app.user %}
                            <td>
                                {% if app.user == publication.author %}
                                    <a href="{{ path('edit_publication', {id: publication.id}) }}">Edit</a>
                                    <a href="{{ path('delete_publication', {id: publication.id}) }}">Delete</a>
                                {% elseif 'admin' in app.user.getRoles() %}
                                    <a href="{{ path('delete_publication', {id: publication.id}) }}">Delete</a>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No publications found for "{{ query }}".</p>
    {% endif %}
    
    {% include 'footer.html.twig' %}
{% endblock %}
