
  <!-- ======= Footer ======= -->
  <footer id="footer">

   

    <div class="footer-top">
    <div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="{{ path('app_accueil') }}" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="{{ path('researchers') }}" class="nav-link px-2 text-muted">Researchers</a></li>
      <li class="nav-item"><a href="{{path('app_project')}}" class="nav-link px-2 text-muted">Projets</a></li>
      <li class="nav-item"><a href="{{ path('publications') }}" class="nav-link px-2 text-muted">Publications</a></li>
      <li class="nav-item"><a href="{{ path('equipments') }}" class="nav-link px-2 text-muted">Equipments</a></li>
    </ul>
    <p class="text-center text-muted">© 2023 Laboratoire, Inc</p>
  </footer>
</div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Laboratoire</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->


