{% extends 'navbar.html.twig' %}
{% block body %}
<h1>Project index</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Title</th>
                <th>Description</th>
                <th>StarDate</th>
                <th>EndDate</th>
               <th>Equipments</th>
           <th>Publications</th>

                <th>actions</th>

            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.username }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.startDate ? project.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ project.endDate ? project.endDate|date('Y-m-d') : '' }}</td>
  <td>
      {% for equipment in project.equipments %}
          {{ equipment.name }}<br>
      {% endfor %}
  </td>
  <td>
            {% for publication in project.publications %}
                {{ publication.title }}<br>
            {% endfor %}
        </td>
                {% if app.user %}
    <td>
        {% if app.user == project.author %}
            <a href="{{ path('app_project_edit', {'id': project.id}) }}">Edit</a>
            <form method="POST" action="{{ path('app_project_delete', {'id': project.id}) }}" style="display:inline;">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
                <button type="submit">Delete</button>
            </form>
        {% elseif 'admin' in app.user.getRoles() %}
            <form method="POST" action="{{ path('app_project_delete', {'id': project.id}) }}" style="display:inline;">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
                <button type="submit">Delete</button>
            </form>
        {% endif %}
    </td>
{% endif %}

            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user %}
    <a href="{{ path('app_project_new') }}">Create new</a>
    {% endif %}
    {% include 'footer.html.twig' %}
{% endblock %}