{% extends 'navbar.html.twig' %}
{% block body %}
<h1>Project index</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Title</th>
                <th>Description</th>
                <th>StarDate</th>
                <th>EndDate</th>
               <th>Equipments</th>
           <th>Publications</th>

                <th>actions</th>

            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
 <td>
                {% if project.users is empty and app.user == project.author %}
                    <a href="{{ path('app_project_edit', {'id': project.id}) }}">Add username</a>
                {% else %}
                    {% for user in project.users %}
                        {{ user.username }}<br>
                    {% endfor %}
                {% endif %}
              </td>
                              <td>{{ project.title }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.startDate ? project.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ project.endDate ? project.endDate|date('Y-m-d') : '' }}</td>
  <td>
                {% if project.equipments is empty and app.user == project.author %}
                    <a href="{{ path('app_project_edit', {'id': project.id}) }}">Add equipment</a>
                {% else %}
                    {% for equipment in project.equipments %}
                        {{ equipment.name }}<br>
                    {% endfor %}
                {% endif %}
              </td>
              
                 <td>
                {% if project.equipments is empty and app.user == project.author %}
                    <a href="{{ path('app_project_edit', {'id': project.id}) }}">Add equipment</a>
                {% else %}
                    {% for equipment in project.equipments %}
                        {{ equipment.name }}<br>
                    {% endfor %}
                {% endif %}
              </td>
    <td>
                        <a href="{{ path('app_project_show', {'id': project.id}) }}">show</a>

                    {% if app.user %}

        {% if app.user == project.author %}
            <a href="{{ path('app_project_edit', {'id': project.id}) }}">Edit</a>
            <a href="{{ path('app_project_delete', {'id': project.id}) }}">Delete</a>

        {% elseif 'admin' in app.user.getRoles() %}
           <a href="{{ path('app_project_delete', {'id': project.id}) }}">Delete</a>

        {% endif %}
        {% endif %}

    </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user %}
    <a href="{{ path('app_project_new') }}">Create new</a>
    {% endif %}
    {% include 'footer.html.twig' %}
{% endblock %}